nifi/nifi-templates/mysql_-_kafka.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>read data from mysql in increments and produce to kafka</description>
  <groupId>2f8496bc-015d-1000-6cea-7121c87c1d7a</groupId>
  <name>mysql - kafka</name>
  <snippet>
    <connections>
      <id>9274ff00-ac6b-3ab5-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>66393431-e63c-3bb0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>36254730-b04a-31ec-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a883f2f1-6482-37f2-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>c8c3107b-5036-3526-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>b6f04318-792f-37e0-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0edbdd86-6f13-3d0d-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>35c9e105-fb04-3d34-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>3df8d58b-4f75-305f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0f65459f-dd19-3eef-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>8d826ca5-1e76-3f83-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>36254730-b04a-31ec-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>20784923-a933-3fe0-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>36254730-b04a-31ec-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>3df8d58b-4f75-305f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>3c912d46-9d32-3afa-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>3df8d58b-4f75-305f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>11a74565-d7ca-394a-0000-000000000000</groupId>
        <id>c8c3107b-5036-3526-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>7cddd0db-e8ea-31e0-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-dbcp-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>
            <name>database-driver-locations</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>
            <name>Validation-query</name>
          </value>
        </entry>
      </descriptors>
      <name>DBCPConnectionPool</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:mysql://mysql:3306/test</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>com.mysql.jdbc.Driver</value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>file:///opt/nifi/nifi-1.3.0/lib/mysql-connector-java-5.1.41.jar</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>root</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>SHOW TABLES FROM `test`;</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
    </controllerServices>
    <processors>
      <id>8d826ca5-1e76-3f83-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>778.27438272483</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-10-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
            <value>
              <name>sasl.kerberos.principal</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
            <value>
              <name>sasl.kerberos.keytab</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>acks</key>
            <value>
              <name>acks</name>
            </value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>
              <name>kafka-key</name>
            </value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>
              <name>key-attribute-encoding</name>
            </value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
              <name>message-demarcator</name>
            </value>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>
              <name>max.request.size</name>
            </value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>
              <name>ack.wait.time</name>
            </value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>
              <name>max.block.ms</name>
            </value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>
              <name>partitioner.class</name>
            </value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>
              <name>compression.type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>kafka:9092</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>topic</key>
            <value>cassandra-topic</value>
          </entry>
          <entry>
            <key>acks</key>
            <value>0</value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>${id}</value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>utf-8</value>
          </entry>
          <entry>
            <key>message-demarcator</key>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>5 sec</value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>none</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PublishKafka_0_10</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
    </processors>
    <processors>
      <id>b6f04318-792f-37e0-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <position>
        <x>319.33128812914276</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>Database Connection Pooling Service</name>
            </value>
          </entry>
          <entry>
            <key>db-fetch-db-type</key>
            <value>
              <name>db-fetch-db-type</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Columns to Return</key>
            <value>
              <name>Columns to Return</name>
            </value>
          </entry>
          <entry>
            <key>Maximum-value Columns</key>
            <value>
              <name>Maximum-value Columns</name>
            </value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>
              <name>Max Wait Time</name>
            </value>
          </entry>
          <entry>
            <key>Fetch Size</key>
            <value>
              <name>Fetch Size</name>
            </value>
          </entry>
          <entry>
            <key>qdbt-max-rows</key>
            <value>
              <name>qdbt-max-rows</name>
            </value>
          </entry>
          <entry>
            <key>qdbt-max-frags</key>
            <value>
              <name>qdbt-max-frags</name>
            </value>
          </entry>
          <entry>
            <key>dbf-normalize</key>
            <value>
              <name>dbf-normalize</name>
            </value>
          </entry>
          <entry>
            <key>dbf-user-logical-types</key>
            <value>
              <name>dbf-user-logical-types</name>
            </value>
          </entry>
          <entry>
            <key>dbf-default-precision</key>
            <value>
              <name>dbf-default-precision</name>
            </value>
          </entry>
          <entry>
            <key>dbf-default-scale</key>
            <value>
              <name>dbf-default-scale</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Database Connection Pooling Service</key>
            <value>7cddd0db-e8ea-31e0-0000-000000000000</value>
          </entry>
          <entry>
            <key>db-fetch-db-type</key>
            <value>Generic</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>user</value>
          </entry>
          <entry>
            <key>Columns to Return</key>
          </entry>
          <entry>
            <key>Maximum-value Columns</key>
            <value>id</value>
          </entry>
          <entry>
            <key>Max Wait Time</key>
            <value>2 seconds</value>
          </entry>
          <entry>
            <key>Fetch Size</key>
            <value>100</value>
          </entry>
          <entry>
            <key>qdbt-max-rows</key>
            <value>100</value>
          </entry>
          <entry>
            <key>qdbt-max-frags</key>
            <value>0</value>
          </entry>
          <entry>
            <key>dbf-normalize</key>
            <value>false</value>
          </entry>
          <entry>
            <key>dbf-user-logical-types</key>
            <value>false</value>
          </entry>
          <entry>
            <key>dbf-default-precision</key>
            <value>10</value>
          </entry>
          <entry>
            <key>dbf-default-scale</key>
            <value>0</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>QueryDatabaseTable</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
    </processors>
    <processors>
      <id>c8c3107b-5036-3526-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <position>
        <x>323.9052474797287</x>
        <y>188.68107250332832</y>
      </position>
      <bundle>
        <artifact>nifi-avro-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Split Strategy</key>
            <value>
              <name>Split Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Output Size</key>
            <value>
              <name>Output Size</name>
            </value>
          </entry>
          <entry>
            <key>Output Strategy</key>
            <value>
              <name>Output Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Transfer Metadata</key>
            <value>
              <name>Transfer Metadata</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Split Strategy</key>
            <value>Record</value>
          </entry>
          <entry>
            <key>Output Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Output Strategy</key>
            <value>Datafile</value>
          </entry>
          <entry>
            <key>Transfer Metadata</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitAvro</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.avro.SplitAvro</type>
    </processors>
    <processors>
      <id>35c9e105-fb04-3d34-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <position>
        <x>598.9543044865645</x>
        <y>583.5815851986408</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LogAttribute</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
    <processors>
      <id>36254730-b04a-31ec-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <position>
        <x>6.591449970242934</x>
        <y>582.6594164819461</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>id</key>
            <value>
              <name>id</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>auto-detect</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>warn</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>id</key>
            <value>$.id</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>EvaluateJsonPath</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>3df8d58b-4f75-305f-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <position>
        <x>330.2922561467209</x>
        <y>385.42841747403145</y>
      </position>
      <bundle>
        <artifact>nifi-avro-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JSON container options</key>
            <value>
              <name>JSON container options</name>
            </value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>
              <name>Wrap Single Record</name>
            </value>
          </entry>
          <entry>
            <key>Avro schema</key>
            <value>
              <name>Avro schema</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JSON container options</key>
            <value>array</value>
          </entry>
          <entry>
            <key>Wrap Single Record</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Avro schema</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertAvroToJSON</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
    </processors>
    <processors>
      <id>66393431-e63c-3bb0-0000-000000000000</id>
      <parentGroupId>11a74565-d7ca-394a-0000-000000000000</parentGroupId>
      <position>
        <x>599.8472183049239</x>
        <y>777.3311579525471</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LogAttribute</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
  </snippet>
  <timestamp>07/11/2017 04:16:22 UTC</timestamp>
</template>